@model HELMo_bilite.Controllers.ViewModels.VehicleVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vehicle</h4>
<hr />
<div class="d-flex justify-content-around">
    <div class="row p-2">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Plate" class="control-label"></label>
                <input asp-for="Plate" class="form-control" />
                <span asp-validation-for="Plate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLicenses" class="control-label"></label>
                <select asp-for="IdLicenses" class="form-control" asp-items="ViewBag.IdLicenses"></select>
                <span asp-validation-for="IdLicenses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Payload" class="control-label"></label>
                <input asp-for="Payload" class="form-control" />
                <span asp-validation-for="Payload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input type="file" asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="p-2">
        <img src="~/images/@Model.PictureScr" alt="image Camion" width="auto" height="200" />
    </div>
    
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
