@model HELMo_bilite.Controllers.ViewModels.AssignOrderVM

@{
    ViewData["Title"] = "Edit";
}

<h1>Edition</h1>

<h4>Commande</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Client</label>
                <input asp-for="Client" class="form-control" disabled>
            </div>
            <div class="form-group">
                <label asp-for="IdDriver" class="control-label"></label>
                <select asp-for="IdDriver" class="form-control" asp-items="ViewBag.Drivers">
                    <option value="">-- Choisir un chauffeur --</option>
                </select>
                <span asp-validation-for="IdDriver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="LoadAddressId" class="control-label">Addresse de chargement</label>
                <input asp-for="LoadAddressId" class="form-control" disabled >
            </div>
            <div class="form-group">
                <label asp-for="LoadDate" class="control-label"></label>
                <input asp-for="LoadDate" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="UnloadingAddressId" class="control-label">Addresse de déchargement</label>
                <input asp-for="UnloadingAddressId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="UnloadingDate" class="control-label"></label>
                <input asp-for="UnloadingDate" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="IdVehicle" class="control-label"></label>
                <select asp-for="IdVehicle" class="form-control" asp-items="ViewBag.Vehicles">
                    <option value="">-- Choisir un véhicule --</option>
                </select>
                <span asp-validation-for="IdVehicle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sauvegarder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
