@page
@model RegisterModel
@{
    ViewData["Title"] = "Inscripption";
}


<div class="row justify-content-center">
    <div class="col-md-4 align-content-between">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>S'enregistrer</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating mb-3">
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="on" aria-required="true" />
                        <label asp-for="Input.FirstName"></label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating mb-3" >
                        <input asp-for="Input.Name" class="form-control" autocomplete="on" aria-required="true" />
                        <label asp-for="Input.Name"></label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div>               
            </div>


           

            <div class="form-floating mb-3">
                <select class="form-select" asp-for="Input.Role" id="selecteRoleRegister" aria-label="Floating label disabled select example" onchange="onRoleChange()">
                    <option selected>Choisisez un role</option>
                    <option value="0">Chauffeur</option>
                    <option value="1">Dispatcher</option>
                    <option value="2">Client</option>
                </select>
                <label for="floatingSelectDisabled">Works with selects</label>
            </div>



            <div class="form-floating mb-3 helmo">
                <input asp-for="Input.Matricule" class="form-control" autocomplete="on" aria-required="true" />
                <label asp-for="Input.Matricule"></label>
                <span asp-validation-for="Input.Matricule" class="text-danger"></span>
            </div>

           
               @* <select class="form-select" asp-for="Input.Role" id="selecteRoleRegister" aria-label="Floating label disabled select example" onchange="onRoleChange()">
                    <option selected>selectionner vos lisences</option>
                    @foreach (var item in Model.Lisence)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
                <label for="floatingSelectDisabled">Works with selects</label>*@
           

            <div class="form-floating mb-3">
            <form action="http://httpbin.org/post" method="post">
                   

            </form>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>

    
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $('#multiple-select-field').select2({
            theme: "bootstrap-5",
            width: $(this).data('width') ? $(this).data('width') : $(this).hasClass('w-100') ? '100%' : 'style',
            placeholder: $(this).data('placeholder'),
            closeOnSelect: false,
        });
       

        onRoleChange();
        function onRoleChange() {
            var selectedRole = $("#selecteRoleRegister").val();

            switch (selectedRole) {
                case "0": // Chauffeur
                    $(".driver").show();
                    $(".helmo").show();

                    $(".client").hide();
                    $(".dispatcher").hide();
                    break;
                case "1": // Dispatcher
                    $(".helmo").show();
                    $(".dispatcher").show();

                    $(".driver").hide();
                    $(".client").hide();
                    break;
                case "2": // Client
                    $(".helmo").hide();
                    $(".driver").hide();
                    $(".client").show();
                    $(".dispatcher").hide();
                    break;
                default:
                    $(".helmo").hide();
                    $(".driver").hide();
                    $(".client").hide();
                    $(".dispatcher").hide();
                    break;
            }

        }
    </script>
}
